.navigate-bar-content {
  padding: 1rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
}

.nav-logo {
  min-width: 8rem;
  height: 10rem;
}

.dropdown-link-container {
}
.dropdown-menu {
  position: absolute;
  top: 125px;
  padding: 0.5rem;
  background-color: white;
  visibility: hidden;
  box-shadow: -1px 14px 14px -4px #1c1c1c;
  opacity: 0;
  z-index: 99;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.dropdown-menu:hover {
  visibility: visible;
  opacity: 1;
}

.dropdown-nav:hover + .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.dropdown-link {
  color: black;
  font-size: 1rem !important;
  padding-bottom: 4px !important;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link-list {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
