.hero-image-container {
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7rem;
  align-items: flex-start;
}

.hero-text-first-line {
  font-size: 1.1rem;
  padding: 0.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: rgba(10, 10, 10, 0.5);
  font-family: var(--body-font);
}

.hero-text-second-line {
  display: inline-flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: var(--display-font);
  background-color: rgba(10, 10, 10, 0.5);
  font-size: 3rem;
}
